@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: rgb(2, 2, 2);
    color: white;
    margin: 0;
    font-size: 1.6rem;
}

body,html {
    overflow-x: hidden;
}

html {
    font-size: 62.5%;
}

header {
    background-image: url(../images/background-home.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    padding: 0 80px;
    border-bottom: 1px solid yellow;
    width: 100vw;
    height: 100vh;
}

nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    max-width: 100%;
}

nav > img {
    cursor: pointer;
}

nav > ul > .text-bar {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 60px;
}

nav > ul> .text-bar > li {
    list-style-type: none;
    
}

nav > ul > .text-bar > li > a {
    text-decoration: none;
    color: white;
    font-size: 1.8rem;
}

nav> ul > .text-bar > li > a:not(.btn)::after {
    content: "";
    background-color: rgb(253, 253, 253);
    height: 3px;
    width: 0%;
    display: block;
    margin: 0 auto;
    transition: 0.3s;
}

nav> ul > .text-bar > li > a:hover::after {
    width: 100%;
}

.btn {
    border: 1px solid rgba(236, 236, 65, 0.818);
    padding: 9px 18px;
    border-radius: 15px;
}

.btn:hover {
    border: 1px solid rgb(226, 234, 197);
}

nav > ul > .text-bar > .close-icon > .fa-xmark {
    display: none;
    font-size: 3.0rem;
}

.menu-icon {
    cursor: pointer;
    font-size: 2.5rem;
    display: none;
}

.hide {
    display: block;
    transition: 2s all;
}

.content-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 300px;
}

.content-header > h1 {
    margin-top: 200px;
    color: white;
    font-size: 10rem;
    margin-bottom: 10px;
    letter-spacing: 10px;
}

.content-header > p {
    color: rgb(132, 132, 132);
    font-size: 1.8rem;
    width: 600px;
    text-align: center;
    margin-bottom: 30px;
}

.content-header > a {
    text-decoration: none;
    color: white;
    font-size: 1.8rem;
}

main {
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;  
}

section {
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}

article {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

section > article > .text-side-section > h2 {
    font-size: 6.0rem;
    width: 600px;
    padding-top: 70px;
}

section >  article > .text-side-section > p {
    color: gray;
    width: 700px;
    margin-bottom: 30px;
}

section >  article > .text-side-section > a {
    text-decoration: none;
    color: white;
}

section > article >  .img-side-section > img {
    width: 600px;
}

.section-card {
    display: flex;
    flex-direction: column;
    margin-top: 130px;
    border: 1px solid rgba(255, 255, 0, 0.527);
    padding: 50px 180px;
    border-radius: 8px;
    padding-bottom: 90px;
}

.text-card > h2 {
    width: 900px;
    font-size: 6.0rem;
    text-align: center;
    margin-top: 20px;
}

.text-card > p {
    text-align: center;
    color: rgb(157, 156, 156);
    margin-bottom: 70px;
}

section > article > #cards {
    display: flex;
    flex-direction: row;
    gap: 60px;
    
}

#cards > .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 380px;
    background-color: rgb(38, 38, 38);
    padding: 30px;
    border-radius: 18px;
    box-shadow: 1px 1px 20px rgba(255, 255, 0, 0.197);
    transition: 0.3s;
}

#cards > .card > h3 {
    text-align: center;
    color: rgb(220, 220, 66);
    margin-bottom: 10px;
}

#cards > .card > p {
    text-align: center;
    color: lightgray;
}

#cards > .card > img {
    width: 100px;
    border-radius: 100%;
    margin: 20px auto;
}

.stars-card {
    width: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 8px;  
}

#cards > .card:hover {
    background-color: rgb(67, 66, 66);
    margin-top: -15px;
}

#clients-section {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

#clients-section > h2 {
    font-size: 5.5rem;
    margin-bottom: 20px;
}

#clients-section > p {
    color: rgb(170, 166, 166);
    margin-bottom: 70px;
}

#clients-section > #img-clients {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

#clients-section > #img-clients > img {
    width: 280px;
    margin-bottom: 90px;
}

#clients-section > #img-clients > #apple-img  {
    width: 60px;
    margin-right: 50px;
}

#clients-section > a {
    text-decoration: none;
    color: white;
}

.fa-brands , .fa-whatsapp {
    margin-left: 10px;
}
footer {
    border-top: 1px solid rgba(219, 219, 52, 0.64);
    margin-top: 70px;
    background-color: rgb(15, 15, 15);
    padding: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#social-footer {
    margin-bottom: 20px;
}

#social-footer > a > i {
    font-size: 2.0rem;
    padding: 10px;
    margin: 0px 5px;
    border-radius: 10px;
    text-align: center;
    background-color: rgb(247, 247, 247);
    box-shadow: 1px 1px 6px rgb(46, 46, 46);
    transition: 0.3s;
}

footer > p {
    color: gray;
}

#social-footer > a > i:hover {
    border: 2px solid yellow;
}


